/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 4, 2024, 10:04:25 AM
    Author     : Lenovo
*/


.table-column-header {
    -fx-font-size: 50px;       /* Ukuran font */
    -fx-font-weight: bold;     /* Teks tebal */
    -fx-text-fill: white;      /* Warna teks */
    -fx-alignment: CENTER;     /* Penempatan teks */
    -fx-font-family: "Arial";  /* Font */
    -fx-text-transform: uppercase; /* Membuat teks menjadi huruf besar */
}


